.header {
  position: relative;
}
.header__nav {
  align-self: center;
  padding-top: 40px;
}

.header > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list {
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav__s {
  color: #0C2229;
  transition: all 0.2s ease-in;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
@media (hover: hover) {
  .nav__s:hover {
    text-decoration: underline;
  }
}

.nav__s--active {
  text-decoration: underline;
}

.menu {
  right: 25px;
  top: 25px;
  position: absolute;
  z-index: 1001;
  display: none;
  flex-direction: column;
  transition: gap 0.4s ease-in-out;
  gap: 8px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.menu__l {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 50px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu__l:focus {
  outline: none !important;
}
.menu__l:nth-child(1) {
  top: 0;
}
.menu__l:nth-child(3) {
  bottom: 0;
}
.menu--opened {
  position: fixed !important;
}
.menu--opened .menu__l:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.menu--opened .menu__l:nth-child(2) {
  transform: rotate(-45deg);
}
.menu--opened .menu__l:nth-child(3) {
  bottom: 10px;
  transform: rotate(45deg);
}


@media (max-width: 1024px) {
  .header__nav {
    padding-top: 0;
  }

  .header__nav > .nav__list {
    padding-top: 60px;
    position: fixed;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    gap: 50px;
    width: 320px;
    left: -320px;
    z-index: 999;
    background-color: #0C2229;
    top: 0;
    bottom: -200px;
  }
  .header__nav > .nav__list--opened {
    left: 0;
  }
  .nav__s {
    color: #C1E6FA;
  }
  .menu {
    display: flex;
  }
}