.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-banner {
  align-self: stretch;
  display: flex;
  align-items: center;
  height: 100%;
  height: max(900px, min(100vh, 1300px));
  padding-bottom: 60px;
  padding-top: 60px;
}
@media (max-width: 1023px) {
  .main-banner {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.main-banner__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
@media (max-width: 1439px) {
  .main-banner__container {
    flex-direction: column;
    align-items: center;
  }
}
.main-banner__title {
  text-wrap: wrap;
}
.main-banner__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1439px) {
  .main-banner__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .main-banner__content {
    flex-direction: column;
    align-items: start;
  }
}
.main-banner__heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-banner__text {
  max-width: 522px;
}
.main-banner__buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
@media (max-width: 1023px) {
  .main-banner__sidebar {
    display: none !important;
  }
}

.sidebar {
  width: 504px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1439px) {
  .sidebar {
    max-width: 100%;
    width: 80%;
  }
}
.sidebar__title {
  display: inline-flex;
  padding: 15px 25px;
  background-color: #C1E6FA;
  box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.4);
  color: #1D434E;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 25px;
  background-color: #C1E6FA;
  gap: 45px;
  box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.4);
}
@media (max-width: 1439px) {
  .sidebar__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.sidebar__item {
  transition: all 0.2s ease-in-out;
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1439px) {
  .sidebar__item {
    flex: 0 0 45%;
  }
}
.sidebar__item:hover {
  background-color: #1D434E;
}
.sidebar__item:hover h3 {
  color: #C1E6FA;
}
.sidebar__item::after {
  content: "";
  width: 15px;
  height: 26px;
  background-image: url("../image/sidebar-arr.svg");
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1439px) {
  .sidebar__item::after {
    right: -20px;
  }
}
.sidebar__image {
  background-color: #FFF;
  width: 70px;
  height: 70px;
}
.sidebar__item-title {
  color: #1D434E;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.additional-block {
  background-color: #1D434E;
}
.additional-block__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-block__body {
  max-width: 1104px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
@media (max-width: 1023px) {
  .additional-block__body {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 424px) {
  .additional-block__body {
    padding: 40px 0;
  }
}
.additional-block__title {
  color: #E2F4FC;
}
.additional-block__button {
  color: #1D434E;
  background-color: #C1E6FA;
  padding: 20px 25px;
  box-shadow: 4px 4px 15px 0px rgba(12, 34, 41, 0.4);
}
@media (max-width: 767px) {
  .additional-block__button {
    font-size: 20px;
  }
}
@media (max-width: 424px) {
  .additional-block__button {
    font-size: 18px;
  }
}

.app-list__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 424px) {
  .app-list__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.app-list__heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app-list__filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.app-list__body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.filter {
  display: flex;
  gap: 10px;
}
.filter__label {
  color: #1D434E;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__select {
  color: #458CA2;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  width: 300px;
}
@media (max-width: 424px) {
  .filter__label {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .filter__select {
    width: 200px;
  }
}
@media (max-width: 424px) {
  .filter__select {
    font-size: 18px;
    width: 150px;
  }
}

.app-card {
  padding: 20px 25px;
  background: #C1E6FA;
  box-shadow: 4px 4px 15px 0px rgba(69, 140, 162, 0.4);
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  max-width: 1065px;
  width: 100%;
}
@media (max-width: 767px) {
  .app-card {
    flex-direction: column;
  }
}
.app-card__image {
  flex: 0 0 40%;
  width: 434px;
  height: 350px;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .app-card__image {
    width: 100%;
    min-height: 350px;
  }
}
.app-card__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.app-card__title {
  flex: 1 0 auto;
}
.app-card__add-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 424px) {
  .app-card__add-info {
    gap: 30px;
    flex-direction: column;
  }
}
.app-card__specs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: flex-start;
}
.app-card__spec {
  color: #306677;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 767px) {
  .app-card__spec {
    font-size: 20px;
  }
}